/* Archived: See public-archive/README.txt */

    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

.error {
    color: red;
    text-align: center;
}

.success {
    color: green;
    text-align: center;
}